{% extends 'base.html' %}
{% block title %}Community{% endblock %}
{% block content %}
     <div class="d-flex row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    {% for community in communities %}
            <div class="col">
             <div class="shadow-sm rounded" height="400px" width="360px">
                    <img src=/media/{{ community.banner }} alt="img" class="img-thumbnail">
                    <div class="p-2 border rounded">
                        {% if community.creator == request.user %}
                            <a href="{% url 'community' community.id %}" class="text-decoration-none text-dark">
                            <h6>{{ community.name }} <i class="fas fa-link"></i></h6>
                            </a>
                            {% else %}
                            <h6>{{ community.name }}</h6>
                        {% endif %}
                        <h6>By <a href="{% url 'profile' community.creator.id %}" class="text-decoration-none">@{{ community.creator }}</a>
                        </h6>
                        <div class="d-flex ">
                            <a href="{% url 'make_request' community.id %}" class="btn btn-danger w-50 me-1">Send request</a>
                            <a href="{{ community.fb_group }}" class="btn btn-outline-danger w-50">FB Group</a>
                        </div>
                    </div>
                </div>
            </div>
         {% endfor %}
        </div>

{% endblock %}